@import "tailwindcss";
.btn-one{
  border-radius: 4px;
  padding: 4px 10px;
}
.btn-one:hover{
  cursor: pointer;
}
.btn-two:hover{
  cursor: pointer;
}
.btn-two{
  padding: 4px 8px;
  border-radius: 4px;
}
.delete-btn{
  color: red;
}
.cart-header-icon-nav{
  color: var(--primary-color);
}
.delete-btn:hover{
  cursor: pointer;
}
.cart-container {
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  margin-top: 100px !important;
  margin: auto;
}
.back-button{
  font-size: 20px;
}
.cart-header {
  text-align: center;
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: white;
}

.cart-table th, .cart-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.cart-table th {
  background: #f0f0f0;
  font-weight: bold;
}

.product-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}
.quantity{
  padding: 8px;
}
.quantity-cell-border {
  border: 1px solid #ccc;
  border-radius: 2px;
}

/* .quantity-btn {

  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
} */

.quantity-btn.increase {
  background: var(--primary-color);
}

.quantity-btn:hover {
  opacity: 0.8;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.remove-btn:hover {
  background: #c0392b;
}

.cart-summary {
  margin-top: 20px;
  font-size: 16px;
  text-align: right;
  padding-right: 20px;
}

.font-bold {
  font-weight: bold;
  font-size: 18px;
}

.checkout-btn {
  background: var(--primary-color);
  font-weight: bold; 
  color: white;
  padding: 10px 14px;
  text-align: center;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
  width: 100px;
}

.checkout-btn:hover {
  background: var(--hover-color);
}
.footer-button{
  display: flex;
  justify-content: end;
}
@media (max-width: 768px) {
  .cart-container {
      padding: 15px;
  }
  
  .cart-table {
      font-size: 14px;
  }

  .product-image {
      width: 50px;
      height: 50px;
  }

  .quantity-btn, .remove-btn {
      padding: 5px;
      font-size: 12px;
  }

  .checkout-btn {
      width: 100%;
      text-align: center;
  }
}
  