.product-row {
  display: flex;
  justify-content: space-between;  /* Đảm bảo rằng thông tin sản phẩm và giá nằm bên phải */
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.product-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
}

.product-info {
  flex: 1;
}

.product-price {
  text-align: right; /* Căn phải giá và tổng tiền */
  font-weight: normal; /* Đảm bảo giá không in đậm */
}

.invoice-summary {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-top: 2px solid #01ab78;
  font-size: 16px;
}

.invoice {
  padding: 20px;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  max-width: 600px; /* Tăng độ rộng của hóa đơn */
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.invoice-summary p {
  text-align: right; /* Căn phải tổng tiền ship và thành tiền */
}

.invoice-summary h4 {
  text-align: left;
  color: #333;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}
