@media (min-width: 1023px) {
        :root{
            --header-height: 120px;
            --navbar-height: 0px;
        }
        .header-cover{
           position: fixed;
           top: 0;
           left: 0;
           right: 0;
           z-index: 100;
        }
        .container{
            /* margin-top: calc(var(--header-height) + var(--header-sort-bar-height)); */
        }
        .mobile-search-checkbox{
            display: none !important;
        }
        .header-mobile-search-icon{
            display: none !important;
        }
    }
@media (min-width: 740px) and (max-width: 1023px) {
    .header-search-checkbox{
        display: none !important;
    }
    .header-cart{
        width: 80px;
        text-align: right;
    }
    .header-sort-bar{
        display: flex;
        z-index: 10;
    }
    -body {
        display: none !important;
    }
    .header-mobile-search{
        display: none;
    }
    .sub{
        display: none;
    }
   
}
.header-search-history{
    position: fixed;
    width: 100%;
    top: calc(var(--header-height) + var(--header-sort-bar-height));
    left: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
@media (max-width: 739px) {
    .sub{
        display: none;
    }
    .header-with-search{
        justify-content: space-between;
    }
    .header-logo .header-cart{
        width: unset;
    }
    .header-mobile-search{
        display: block;
    }
    .header-search{
        position: fixed;
        z-index: 1;
        top:var(--header-height);
        left: 0;
        right: 0;
        height: 46px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        padding: 0 4px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }
    .container-body{
        display: none !important;
    }
    @keyframes mobileSearchSideIn {
        from{
            opacity: 0;
            top: calc(var(--header-height)/2);
        }
        to{
            opacity: 1;
            top: var(--header-height);
        }
    }
   
   
}